body {background-color: #222; margin: 0; padding: 0;}
.red-dark{background: #A62805;}
.red-one{color: #F5524C;}
.white-text{color:#fff;}
.basic{font-family: 'Open Sans', sans-serif;}

@media only screen and (max-width: 680px) {
/*        ENTIRE SCREEN DIV   */
    .m-all-div{position: absolute;top: 0; height: 100%; width: 100%;}
/*        RED TOP DIV         */
    .m-top-bg-div{width: 100%; height: 240px; position: relative}
    .m-logo{position: absolute; top: .6rem; right: .5rem;}
/*        WELCOME TEXT        */
    .m-welcome{ color: #fff; 
                position: absolute; left: 5vw; top: 36px;
                line-height: 1em; letter-spacing: 1px;}
    .m-w-one{font-size: 48px; font-weight: 500;margin-bottom: 12px;}
    .m-w-two{font-size: 24px; font-weight: 400;margin-bottom: 0;}
    .m-w-three{font-size: 16px; font-weight: 300;margin-bottom: 0;}
/* FLOATERS */
    .m-floaters {position: absolute;top: 200px;}
/* FLOATER ONE */    
    .m-floater-one{background: #777;
                   height: 400px; width: 90vw; 
                   position: absolute; left: 5vw;
                   border-radius: 5%;
                   color: #e0e0e0;}
    .paragraph-pad {width: auto; height: auto; padding-left: 24px; padding-top: 1px; 
                    padding-right: 24px; font-weight: 400; font-size: 18px; 
                    position: relative; top: 0;}
/* FLOATER TWO*/    
    .m-floater-two {
        background: #555; margin: 0px;
        position: absolute; top: 420px;
        width: 100vw; height: 400px;}
/*EXPERIENCE TITLE*/
    .experience-title{position: absolute; top: 840px; text-align: center;
                    width: 100vw;font-size: 2em; line-height: 1em;}

/* FLOATER THREE*/
    .m-floater-three {border-radius: 5%; background-color: #333;
                      width: 90vw; height: 400px; position: absolute;
                      top: 900px; left: 5vw; color: #e0e0e0;
                    margin-bottom: 60px;} /*leaving 60px of space on this.top*/
  }
  /*footer*/
  footer{ position: fixed; width: 100%;
    bottom: 10px; text-align: center; margin-top: 50px;}
  .footer-button{width: 30vw; border-radius: 10%; color: white; font-size: 18px;}
  /*invisible footer separator*/
  .invisidiv{position: absolute; top: 1300px; height: 70px; width: 100vw; opacity: 0;}
